<tr >
                                <td class="p-2 whitespace-nowrap mt-4">
                                    <div class="flex items-center">
        
                                        <div class="font-medium text-gray-800"><%= client.company_name%></div>
                                    </div>
                                </td>
                                <td class="p-2 whitespace-nowrap">
                                    <div class="text-left">N/A</div>
                                </td>
                                <td class="p-2 whitespace-nowrap">
                                    <div class="text-left ">N/A</div>
                                </td>
                                <td class="p-2 whitespace-nowrap">
                                    <div class=" text-center text-sm">
                                    <%= link_to "View",client_path(client),class:"bg-orange-400 p-2  rounded-xl text-white mr-2"%>
                                    </div>
                                </td>
</tr>
                            