<div class-"items-center text-center px-5 py-4 rounded-lg  " style="margin: 0 7px 0 7px">
<div class=" rounded-lg mt-2 bg-white">
    <div class=" mx-2 items-center text-center">
    <h1 class="font-bold text-gray-800 mt-2 text-4xl"><%= @client.company_name %></h1>
    <h2 class="text-lg font-semibold "> <%= @client.name %></h2>
    <h2 class="text-lg font-semibold text-gray-800"> <%= @client.address %></h2>
    
    </div>
    
</div>
</div>