<header class="h-1/12 bg-white   rounded-t-lg flex justify-between">
<h2 class="font-semibold  text-left text-xl m-1 p-1">Standards</h2>

</header>
<div class=" h-11/12 overflow-y-auto rounded-lg h-full border border-gray-300 ">
<% if @standards.any? %>
<table class=" table-auto w-full text-sm rounded-lg h-full"  >

<thead class="uppercase  bg-gray-200 border border-gray-300 rounded-lg " >
<tr>
<th class="border-b dark:border-slate-400 font-semibold px-2  py-2   dark:text-slate-200 text-left">Type</th>
<th class="border-b dark:border-slate-600 font-semibold px-2 py-2   dark:text-slate-200 text-left">Rate($)</th>

<th class="border-b dark:border-slate-600 font-semibold px-2 py-2   dark:text-slate-200 text-left">Active</th>
<th class="border-b dark:border-slate-600 font-semibold px-2 py-2   dark:text-slate-200 text-center">  Total($)</th>
<th class="border-b dark:border-slate-600 font-semibold px-2  py-2   dark:text-slate-200 text-left"></th>
</tr>
</thead>

<tbody class="relative bg-white dark:bg-slate-800   " >

<% @standards.each do |standard| %>

<%= render partial: "clients/standard", locals:{standard: standard} %>
<%end%>
</tbody>

<tbody>



</table>
<%else%>
<h1 class="text-center font-semibold text-xl text-indigo-700">No standards found </h1>
<%end%>

</div>

<script>
function standardRateFunction(id) {
    document.getElementById("standard-rate-button-"+id).classList.add("hidden")
    document.getElementById("standard-rate-save-"+id).classList.remove("hidden")
    document.getElementById("standard-rate-undo-"+id).classList.remove("hidden")
   var doc1 = document.getElementById("standard-rate-"+id)
  
   doc1.disabled = false
   
   doc1.classList.remove("border-transparent")
   doc1.classList.add("border-1")
   
  
   doc1.classList.add("border-indigo-700")
 
  
       }
       function undoStandardRate(id) {
    
   
    
 
       document.getElementById("standard-rate-button-"+id).classList.remove("hidden")
       document.getElementById("standard-rate-save-"+id).classList.add("hidden")
       document.getElementById("standard-rate-undo-"+id).classList.add("hidden")
      
      var doc2 = document.getElementById("standard-active-"+id)
      
      doc2.disabled = true
     
    
      doc2.classList.add("border-transparent")
      doc2.classList.remove("border-1")
      
      doc2.classList.remove("border-indigo-700")
   
          }
       
          function standardActiveFunction(id) {
            document.getElementById("standard-active-button-"+id).classList.add("hidden")
            document.getElementById("standard-active-save-"+id).classList.remove("hidden")
            document.getElementById("standard-active-undo-"+id).classList.remove("hidden")
           var doc1 = document.getElementById("standard-active-"+id)
          
           doc1.disabled = false
           
           doc1.classList.remove("border-transparent")
           doc1.classList.add("border-1")
           
          
           doc1.classList.add("border-indigo-700")
         
          
               }
               function undoStandardActive(id) {
            
           
            
         
               document.getElementById("standard-active-button-"+id).classList.remove("hidden")
               document.getElementById("standard-active-save-"+id).classList.add("hidden")
               document.getElementById("standard-active-undo-"+id).classList.add("hidden")
              
              var doc2 = document.getElementById("standard-active-"+id)
              
              doc2.disabled = true
             
            
              doc2.classList.add("border-transparent")
              doc2.classList.remove("border-1")
              
              doc2.classList.remove("border-indigo-700")
           
                  }
               
        


</script>
