<div class="flex justify-center">
<div class=" flex flex-col justify-between w-1/2  mx-auto bg-white shadow-lg rounded-lg border border-gray-200 ">
   <%= render "clients/users" %>
    </div>
    <div class=" flex flex-col justify-between w-1/2  mx-auto bg-white shadow-lg rounded-lg border border-gray-200 ">
    <%= render "clients/standards" %>
   
     </div>


</div>