<div style="flex flex-col justify-center ml-6" >
<%= image_tag "infield.png" %>
<h1 class="h1"> Your bill has been calculated </h1>
<h2 class="h2"> Click on the button below to check your bill </h2>
<%= link_to "View", bill_url(@bill),class:"view" %> 