<header class="flex w-full items-center justify-between bg-white  p-2 border-b border-gray-200 " style="height:9vh">

        <div class="flex items-center space-x-2 text-indigo-700 px-2">
            <button type="button" class="text-3xl " @click="asideOpen = !asideOpen"><i class="bx bx-menu"></i></button>
            
        </div>

        <div><img class="hidden h-8 w-auto lg:block" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500" alt="Your Company"></div>
        <div class="items-center space-x-2 text-white px-2 py-2">
           

            
          
                <%= button_to "Logout", logout_path ,method: :delete, class:" px-2 py-1.5   rounded-md bg-indigo-700 hover:bg-indigo-800 " %>
                </div>
        
    </header>