<aside class="flex flex-col space-y-2 border-r-2 border-gray-200  p-2 text-black" style="height: 91vh;width:15%"
x-show="asideOpen" x-transition>
<a href="/" class="flex items-center space-x-1 rounded-md px-2 py-3  hover:text-indigo-600">
    <span class="text-2xl"><i class="bx bx-grid-alt"></i></span>
    <span>Dashboard</span>
</a>

<%=link_to clients_path , class:"flex items-center space-x-1 rounded-md px-2 py-3 hover:text-indigo-600" do %>
    <span class="text-2xl"><i class="bx bx-group"></i></span>
    <span>Clients</span>
<%end%>


</aside>