<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      div { display:flex;flex-direction: column;justify-content:center;align-items: center }
      img { width:200px;height:200px}
      .view{
        background-color: orange;
        padding: 10px;
        color: white;
        border-radius: 10px;
        text-decoration:none
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
